* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.sign_in {
    position: fixed;
    width: 40%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.signIn_btn,.createBtn,.signOut_btn {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    /* height: 50px; */
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 30px;
    color: white;
    background-color: gray;
}



.signIn_btn:hover,.createBtn:hover,.signOut_btn:hover {
    background-color: lightgray;
}


.registration {
    position: fixed;
    width: 40%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.last_name {
    margin: 20px 0;
    /* border-color: red; */
}



.profile {
    position: fixed;
    width: 40%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 0;
    border: 1px solid #000;
    background-color: lightgray;
    display: none;
}

.profile_image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}

.profile_email,.profile_position {
    text-align: center;
}

/*  */

/* .password_creator_input,.sign_password_creator_input {
    position: relative;
} */

.log_in_back,.createNewBtn {
    position: absolute;
    padding: 1px 2px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: rgb(0, 183, 255);
    font-size: 12px;
    /* bottom: 0; */
    margin-top: 3px;
    color: white;
}

.createNewBtn {
    bottom: 30px;
}

.log_in_back:hover,.createNewBtn:hover {
    background-color: gray;
}

.mb-3 {
    margin-bottom: 1.3rem!important;
}

